body{
    background-color: black;
    color: white;
}
table {
    border-width:1px;
    border-style:solid;
    border-color:white;

}
div {
    border-width:1px;
    border-style:solid;
    border-color:white;
}

body, html {
    overflow-x :hidden ;
}

.param{
    text-align: center;
}