body{

}
table {
    border-width:1px;
    border-style:solid;
    border-color:black;

}
div {
    border-width:1px;
    border-style:solid;
    border-color:black;
}

body, html {
    overflow-x :hidden ;
}

.param{
    text-align: center;
}